
<!-- header fragment  -->
<header th:fragment ="header" class="header">
     <div class="logo"><i class="fa-solid fa-book"></i>Your Bookstore</div>
     <div class="search-container">
         <input type="text" class="search-input" placeholder="Search books...">
         <i class="fa-solid fa-magnifying-glass"></i>
     </div>
     
     <nav>
        <ul class="nav-links" id="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Books</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Login / SignUp</a></li>
         
        </ul>
    </nav>

    <div class="menu-toggle" id="menu-toggle">☰</div>
</header>
